body {
	background-color: #252525;
	font-family: courier;
	text = #e8e6e2;
}

h1, h2, h3, h4, h5, p, li, b {
	color: #d8dee9;	
}

hr {
	background-color: #3b4252;
}

a {
	color: #88c0d0;
}

#Background {
	background-color: #2e3440;
}

#BrightBackground {
	background-color: #3b4252;
}

#DarkBackground {
	background-color: #323232;
}

#Foreground {
	background-color: #323846;
}

.Top {
	height: 200px;
}

.Name {
	width: 50%;
	float: left;
	text-align: center;
}

.Contacts {
	width: 30%;
	float: right;
	text-align: left;
}

.Main {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10px;

	border-style: solid;;
	border-width: 2px;
	border-color: #323232;
}

.MainWide {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;

	border-style: solid;;
	border-width: 2px;
	border-color: #323232;
}

.Projects {
	margin-left: 20%;
	margin-right: 20%;
}

.ProjectContainer {
	display: inline-grid;
  	grid-template-columns: auto auto;

  	background-color: #3b4252;

  	margin-top: 10px;

  	border-style: solid;;
	border-width: 2px;
	border-color: #d8dee9;
}

#OtherProjectContainer {
	grid-template-columns: 50% 50%;
}

.ProjectBox {
	margin-left:10px
}

#OtherProjectBox {
	border-right-style: solid;
	border-width: 1px;
	border-color: #d8dee9;
}

#ProjectVideo {
	display: block;
	margin: auto auto;
	width:90%;
	height:90%;
}

.OtherProjectBox {
	background-color: #2e3131;
	width: 400px;
	height: 230px;
	margin: 10px;
}